<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/styles.css" />
</head>
<body>
<div id="content">
    <h2>Rooms</h2>
    <form action="#" th:action="@{/room}" th:object="${room}" method="post">
        <div style="width: 98%">
            <input type="text" th:field="*{name}" maxlength="128" size="30"/>
        </div>
        <div>
            <select id="roomList" size="10" style="width: 100%">
                <option value="0" th:value="${room.id}" th:each="room : ${rooms}" th:text="${room.name}">Study</option>
                <option value="1" th:remove="all">Conservatory</option>
                <option value="2" th:remove="all">Gymnasium</option>
            </select>
        </div>
        <div class="buttons">
            <button type="submit" name="new">New</button>
            <button type="submit" name="save">Save</button>
        </div>
    </form>
</div>
</body>
</html>


