<!DOCTYPE HTML>
<html th:replace="~{layoutFile :: layout(~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/styles.css" />
</head>
<body>
<div id="content">
    <form>
        <table style="width: 30%">
            <tbody>
            <tr>
                <td><span id="roomForm:msg" style="display: block; height:20px;"></span></td>
            </tr>
            <tr>
                <td><input id="roomForm:name" type="text" name="roomForm:name" value="Kitchen" class="readonly" maxlength="128" size="30" style="width: 98%" readonly="readonly"></td>
            </tr>
            <tr>
                <td>
                    <select id="roomList" size="10" style="width: 100%">
                        <option value="0" th:value="${room.id}" th:each="room : ${rooms}" th:text="${room.name}">Study</option>
                        <option value="1" th:remove="all">Conservatory</option>
                        <option value="2" th:remove="all">Gymnasium</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>


